.overlayContent {
  padding: 100px 80px 50px;
}

.overlayContent p {
  font-size: 20px;
  font-family: "Rubik", sans-serif;
  font-weight: 800;
}
.overlayContent button {
  padding: 20px 50px;
  margin-top: 4%;
  border: 2px solid #574fa8;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 35px;
  font-size: 17px;
  font-family: "Rubik", sans-serif;
  cursor: pointer;
  font-weight: 800;
}
.overlayContent button:hover {
  border: 2px solid #574fa8;
  background-color: #574fa8;
  color: white;
  transition: 0.4s;
}
@media screen and (max-width: 1000px) {
  .overlayContent {
    padding: 140px 80px 50px;
  }
  .overlayContent p {
    font-size: 18px;
  }
}
@media screen and (max-width: 900px) {
  /* .overlayContent {
    padding: 140px 80px 50px;
  } */
  .overlayContent p {
    font-size: 16px;
  }
  .overlayContent button {
    font-size: 14px;
  }
}

@media screen and (max-width: 850px) {
  .overlayContent {
    padding: 140px 60px 35px;
  }
  .overlayContent p {
    font-size: 15px;
  }
  .overlayContent button {
    font-size: 13px;
  }
}

@media screen and (max-width: 700px) {
  .overlayContent {
    padding: 130px 47px 30px;
  }
  .overlayContent p {
    font-size: 12px;
  }
  .overlayContent button {
    font-size: 11px;
  }
}

@media screen and (max-width: 550px) {
  .overlayContent {
    padding: 130px 25px 19px;
  }
  .overlayContent p {
    font-size: 14px;
  }
  .overlayContent button {
    font-size: 11px;
  }
}
@media screen and (max-width: 500px) {
  .overlayContent button {
    font-size: 9px;
    padding: 15px 40px;
  }
}
@media screen and (max-width: 460px) {
  .overlayContent p {
    font-size: 12px;
  }
  .overlayContent {
    padding: 140px 20px 17px;
  }
}
@media screen and (max-width: 405px) {
  .overlayContent {
    padding: 140px 10px 12px;
  }
}
@media screen and (max-width: 375px) {
  .overlayContent {
    padding: 140px 12px 12px;
  }
  .overlayContent button {
    padding: 10px 30px;
  }
  .overlayContent p {
    font-size: 10px;
  }
}
@media screen and (max-width: 342px) {
  .overlayContent button {
    padding: 8px 25px;
  }
}
